 <!-- Menu -->
 <div class="menu">
                	<ul class="tabs">
                    	<li><a href="#profile" class="tab-profile">Mon Profil</a></li>
                    	<li><a href="#resume" class="tab-resume">Mon compte</a></li>
                    	<li><a href="#portfolio" class="tab-portfolio">Messagerie</a></li>
                    	<li><a href="#contact" class="tab-contact">Mon Blog</a></li>
                        <li><a href="#profile" class="tab-profile">Rendez vous</a></li>
                    	<li><a href="#resume" class="tab-resume">Maladie</a></li>
                    	<li><a href="#portfolio" class="tab-portfolio">Médicament</a></li>
                    	
                    </ul>
                </div>
                <!-- /Menu -->