<div id="profile"> 
                 	<!-- About section -->
                	<div class="about">
                    	<div class="photo-inner"><img src="{{asset('bundles/portailfront/profil/images/photo.jpg')}}" height="186" width="153" /></div>
                        <h1>ANDERSON SMITH</h1>
                        <h3>GRAPHIC & WEB DESIGNER</h3>
                        <p>I like to make cool and creative designs. My design stash is always full of refreshing ideas. Feel free to take a look around my Vcard.</p>
                    </div>
                    <!-- /About section -->
<!-- Personal info section -->
                	<ul class="personal-info">
						<li><label>Name</label><span>Anderson smith</span></li>
                        <li><label>Date of birth</label><span>March 13, 1988</span></li>
                        <li><label>Address</label><span>Melbourne Victoria 3000 Australia</span></li>
                        <li><label>Email</label><span>A.smith@gmail.com</span></li>
                        <li><label>Phone</label><span>+123 456 789 111</span></li>
                        <li><label>Website</label><span>www.asmith.com</span></li>
                    </ul>
                    <!-- /Personal info section -->
</div>             