<!-- Portfolio -->
                <div id="portfolio">
          <ul class="tabs-nav">
                                <li class="active"><a href="#">Messages Reçus</a></li>
                                <li><a href="#">Messages Envoyées</a></li>
                               
                            </ul>
                            <div class="tabs-container">
                                <div class="tab-content">
                    <table class="footable" data-page-navigation="#pagination" data-page-size="5">
      <thead>
        <tr>
          <th data-class="expand">
            <span>Expéditeur</span>
          </th>
          <th>
            <span>Objet</span>
          </th>
          <th data-hide="phone,tablet">
          Reçu Le 
          </th>
          <th data-hide="phone,tablet" data-type="numeric">
            Actions
          </th>
          
        </tr>
      </thead>
		<tbody>
                    <tr><td>Isidra</td><td>Furniss</td><td>Jig Bore Tool Maker</td><td data-value="550552096836"><img src="{{asset('bundles/acmedemo/profile/images/reply.png')}}" alt="Répondre">&nbsp;<img src="{{asset('bundles/acmedemo/profile/images/cross.png')}}" alt="Répondre"></td></tr>
	       </tbody>	  
    </table>

    <ul id="pagination" class="footable-nav"><span>Pages:</span></ul>
                           
                                </div>
                                <div class="tab-content">
                                
                                </div>
                                <div class="tab-content">
                                   
                                </div>
                            </div>
                     </div>
                <!-- /Portfolio --> 