 <!-- Menu -->
 <div class="menu">
                	<ul class="tabs">
                    	<li><a href="#profile" class="tab-profile">Mon Profil</a></li>
                    	<li><a href="#resume" class="tab-resume">Mon compte</a></li>
                    	<li><a href="#portfolio" class="tab-portfolio">Messagerie</a></li>
                    	<li><a href="#blogg" class="tab-resume">Mon Blog</a></li>
                        <li><a href="#rendezvous" class="tab-resume">Rendez vous</a></li>
                    	<li><a href="#fichemaladie" class="tab-resume">Maladies</a></li>
                    	<li><a href="#fichemedicament" class="tab-resume">Médicaments</a></li>
                    	
                    </ul>
                </div>
                <!-- /Menu -->