<ul class="shortcut-buttons-set">
				
				<li><a class="shortcut-button new-article" href="{{path('user_edit',{'id':user.id})}}"><span class="png_bg">
					Mon Profile
				</span></a></li>
                                <li><a class="shortcut-button add-user" href="#up_add_user" rel="modal"><span class="png_bg">
					Ajouter un utilisateur
				</span></a></li>
				<li><a class="shortcut-button add-group" href="#up_group" rel="modal"><span class="png_bg">
					Créer un Groupe
				</span></a></li>
				<li><a class="shortcut-button new-page" href="#up_gallery" rel="modal"><span class="png_bg">
					Créer une nouvelle galerie
				</span></a></li>
				
				<li><a class="shortcut-button upload-image" href="#up_img" rel="modal"><span class="png_bg">
					Télécharger une image
				</span></a></li>
				<li><a class="shortcut-button upload-video" href="#up_video" rel="modal"><span class="png_bg">
					Télécharger un video
				</span></a></li>
				<li><a class="shortcut-button new-partners" href="#up_partners" rel="modal"><span class="png_bg">
					Nouveau partenaire
				</span></a></li>
				
				<li><a class="shortcut-button manage-comments" href="{{ path('contact_list')}}"><span class="png_bg">
					Liste des Contacts
				</span></a></li>
                                <li><a class="shortcut-button add-blog" href="#up_blog" rel="modal"><span class="png_bg">
					Mon Blog
				</span></a></li>
				
			</ul><!-- End .shortcut-buttons-set -->