<div id="up_video" style="display: none"> <!-- Messages are shown when a link with these attributes are clicked: href="#messages" rel="modal"  -->
     <span style="font-size: medium">Télécharger un video</span>
     <div class="clear"></div>				
                              <form action="" method="post">
                                    
					<fieldset>
                                            <select name="gallery_img">
						<option value="option1">Choisir une action...</option>
						<option value="option2">Edit</option>
						<option value="option3">Delete</option>
					    </select>
                                            <input class="medium-input" type="text" name="video_name" value="http:\\">
					</fieldset>
					
					<fieldset>
						<input class="button" type="submit" value="Télécharger" />
						
					</fieldset>
					
				</form>
				
</div> 