{% extends 'PortailFrontBundle::layout.html.twig' %}
{% block body %}
<div class="forchaser"></div>
<div class="container_12" style="background:url({{asset('bundles/portailfront/images/bg-slider.png')}}) repeat-x center top ;">
        	<div class="grid_8 alpha">
                <div class="breadcrumb">
                    <a href="./index.html">Home</a> » <span>Confirmation Newsletter</span>
                </div>
            </div>
            <div class="grid_4 omega">
                <span id="current-date"></span>
            </div>
            
            <div class="clear"></div>
            <div class="separator"></div>
            
            <div class="main-content">
                  <div class="one_third " align="center">
<p>Merci de votre confirmation d'inscription à la Newsletter portailHorus.</p>
                  </div>
                </div>
    </div>
{%endblock%}