<html>
    <body>
    <p>Bonjour<br> 
Merci de votre inscription à la Newsletter PortailHorus.<br> 
Votre adresse email: {{email}}<br>
<br>
    Cliquez sur le lien ci-dessous pour confirmer votre inscription et activer la Newsletter:<br>
    <a href="http://localhost{{path('confirmnewsletter',{'email':email})}}">Cliquer ici</a>
        
    </body>
</html>