<html>
    
    <body>
        
        <h1 style="background-color: #0e0">Newsletter Envoyee</h1>
       
        <img src="http://rghost.net/44676016/image.png">
        <a href="{{path('desinscriptionNewsletter')}}">Desinscrption de newsletter</a>
        
    </body>
    </html>