<div class="nodeLastPost secondaryContent">
			
				Latest: <a href="" title="I need a website template for my school reunion">{{lastquestion.message}}</a>
				<span class="lastThreadMeta"><a href="http://www.freewebsitetemplates.com/members/Mimoun/" class="username">{{lastquestion.membre}}</a>, <span class="DateTime muted" title="Jan 21, 2013 at 4:17 AM">{{lastquestion.datepublication}}</span></span>
			
		</div>
