<div id="repondreboite" class="ui-dialog ui-widget ui-widget-content ui-corner-all" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-6" style="display: none;  z-index: 1008; outline: 0px none; height: 390px; width: 640px; top: 183px; left: 500px;">
  <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
      <span id="ui-dialog-title-6" class="ui-dialog-title">
   Repondre à un message
    </span>
          <a class="button close" style="height: 16px;
    margin: 0;
    padding: 1px;
    position: absolute;
    right: 5px;
    top: 7px;
    width: 16px;"  href="#">
      <span class="ui-icon ui-icon-closethick">
      close
    </span></a></div>
        <div  class="content-box"><!-- Start Content Box -->
<div class="content-box-content">
<div class="tab-content default-tab" id="tab1">
        

						<form action="">
							
							<table>
								
								
								<tr>
								
                                                                    <td>  <span id="dest">A</span></td>
                                                                    <td>
                                                                        <input  style="width: 320px" type="text" id="destinataire" name="destinataire"></td></tr>
                                                                <tr>
                                                                    <td><label>Sujet</label></td>
                                                                      <td>
                                                                          <input  type="text"  style="width: 320px" id="sujet" name="sujet" value=""  required /> </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <label>Message</label></td>
                                                                    <td><textarea name="message" id="message" cols="79" rows="15" required></textarea></td></tr>
                                                                
                                                                <tr><td><input style="background-color: #B8E0F9;" type="button" onclick="return EnvoiMail();" value="Repondre" /></td>
                                                                </tr>
                                                        </table>
							
							
							<div class="clear"></div><!-- End .clear -->
							
						</form>
						
</div> <!-- End #tab2 -->
</div> <!-- End .content-box-content -->
</div> <!-- End .content-box -->
          </div>
   
 
