<div id="footer-wrap">
                        		
                                <footer class="clearfix">
                                
										<section class="footer-widget">
                                            <section class="widget">			    
                                                <h3>
                                                    <a href="index-2.html"><img src="{{asset('bundles/acmedemo/images/footer-logo.png')}}" alt="HealthPress"></a>
                                                </h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis adipiscing id nulla vel lorem dapibus fringilla eget non felis, porttitor lectus.</p>
                                                <a href="#" class="readmore">Read more</a>
                                            </section>													
										</section>
										
										<section class="footer-widget">
                                            <section class="widget">
                                                <h3 class="title">Quick Links</h3>
                                                <div>
                                                    <ul>
                                                        <li ><a href="index-2.html">Home</a></li>
                                                        <li ><a href="blog.html">Blog</a></li>
                                                        <li ><a href="services-four-columns.html">Services</a></li>
                                                        <li ><a href="doctors-four-columns.html">Doctors</a></li>
                                                        <li ><a href="contact.html">Contact Us</a></li>                                               
                                                   </ul>
                                               </div>
                                           </section>                                      
										</section>
										
										<section class="footer-widget">
                                            <section class="widget">
                                                    <h3 class="title">Recent Posts</h3>
                                                    <div>
                                                        <ul>
                                                            <li ><a href="blog.html">Latest Health Lessons</a></li>
                                                            <li ><a href="blog.html">The Benefits of Middle-Age Fitness</a></li>
                                                            <li ><a href="blog.html">For Young Athletes, Good Reasons to Break the Fast-Food Habit</a></li>
                                                            <li ><a href="blog.html">For Weight Loss, Less Exercise May Be More</a></li>
                                                            <li ><a href="blog.html">Really?: Adding Milk to Tea Destroys its Antioxidants</a></li>                                               
                                                       </ul>
                                                   </div>
                                               </section>
										</section>
										
										<section class="footer-widget">
                                            <section class="widget">
                                            	<h3 class="title">Location</h3>   
                                                <p>Address will be appear here, some details here City Name, Stat &amp; Country.</p>
                                                <p><span>Ph:</span> +800 123 4567</p>
                                                <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>               
                                            </section>                                     
										</section>
									
                                </footer><!-- end of #bottom -->                                                       		                                
								
                        </div><!-- footer-wrap -->
                        
						<div id="footer-bottom-wrapper">
							<div id="footer-bottom">
									<p class="copyrights">© Copyright 2012. All Rights Reserved by HealthPress.</p>
									 
		                    </div><!-- footer-bottom -->
						</div>