
		<div class="gallery">
                       
                       <ul>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
                                <li>
				        <div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
				<li>
					<div class="gallery_item">
						<img src="http://images.apple.com/trailers/wb/images/terminatorsalvation_200903131052.jpg" width="214" height="194" class="cover" alt="" />
						<h4>Photo 01</h4>
						<p>Maecenas ut sem eu nulla euismod tincidunt in vitae diam. Sed lectus dui</p>
						<a href="#" class="btn alignleft" title="read more">read more</a>
						<a href="http://www.youtube.com/watch?v=qqXi8WmQ_WM" class="zoom" data-rel="prettyPhoto[gallery]">Enlarge</a>
					</div>
				</li>
			</ul>
			<div class="clear"></div>
		</div>
		
		
   